
@{
    ViewBag.Title = "DetaljanPrikazVlasnik";
}
<head>
    <link rel="stylesheet" href="~/Scripts/lookCss.css">
</head>
<h2>DetaljanPrikazVlasnik</h2>

<table border="1">
    <tr><th>Naziv</th><th>Adresa</th><th>DatumOtvaranja</th><th>Vlasnik</th><th>Mesecna Clanarina</th><th>Godisnja Clanarina</th><th>Cena jednog trenina</th><th>Cena grupnog treninga</th><th>Cena persnolnog trenera</th></tr>
    <tr><td>@ViewBag.FitnessCenter.Naziv</td><td>@ViewBag.FitnessCenter.Adresa</td><td>@ViewBag.FitnessCenter.DatumOtvaranja</td><td>@ViewBag.FitnessCenter.AdminUsername</td><td>@ViewBag.FitnessCenter.MonthlySubscription</td><td>@ViewBag.FitnessCenter.YearlySubscription</td><td>@ViewBag.FitnessCenter.PriceOfOneTraining</td><td>@ViewBag.FitnessCenter.GroupTrainingPrice</td><td>@ViewBag.FitnessCenter.PersonalTrainerPrice</td></tr>
</table>
<form action="/Login/AdminLogin" method="post">
    <input type="hidden" name="Username" value="@ViewBag.user_name" />
    <input type="submit" name="Nazad" value="Nazad" />
</form>
@if (ViewBag.GroupTrainings == null || ViewBag.GroupTrainings.Count == 0)
{
    <p>@ViewBag.FitnessCenter.Naziv nema nijedan grupni training</p>
}
else
{
    int x = 0;
    foreach (var groupTraining in ViewBag.GroupTrainings)
    {
        DateTime dt;
        DateTime.TryParse(groupTraining.TrainingDate, out dt);
        if (dt > DateTime.Now)
        {
            <table border="1">
                <tr><td>Naziv:</td><td>@groupTraining.Naziv</td></tr>
                <tr><td>TypeOfTraining:</td><td>@groupTraining.Trening</td></tr>
                <tr><td>FitnessCenter:</td><td>@groupTraining.FitnessCenterName</td></tr>
                <tr><td>TrainingDuration</td><td>@groupTraining.TrainingDuration</td></tr>
                <tr><td>TrainingDate</td><td>@groupTraining.TrainingDate</td></tr>
                <tr><td>MaximumNumberOfVisitors</td><td>@groupTraining.MaximumNumberOfVisitors</td></tr>
            </table>
            <br/>
            x++;
        }
        if (x == 0)
        {
            <p>@ViewBag.FitnessCenter.Naziv nema nijedan grupni training</p>
        }

    }
}
<p>Komentari</p>
@if (ViewBag.Komentari.Count == 0 || ViewBag.Komentari == null)
{
    <p>Ne postoje comments za ovaj fitnes centar</p>
}
else
{
    foreach (var k in ViewBag.Komentari)
    {
        if (k.FitnessCenterName == @ViewBag.FitnessCenter.Naziv && k.Visibility == "Odobreno")
        {
            <table border="1">
                <tr><td>@k.Username</td></tr>
                <tr><td>@k.CommentText</td></tr>
                <tr><td>@k.Review</td></tr>
            </table>
            <br />
        }
    }
}