
@{
    ViewBag.Title = "FitnesCentriVlasnik";
}


<head>
    <link rel="stylesheet" href="~/Scripts/lookCss.css">
</head>
<form action="/Login/AdminLogin" method="post">
    <input type="hidden" name="Username" value="@ViewBag.user_name" />
    <input type="submit" value="Nazad" />
</form>
<h2>FitnesCentriVlasnik</h2>
<form action="/Vlasnik/FitnesCentriVlasnik" method="post">
    <table border="1">
        <tr><td>Name:</td><td><input type="text" name="Name" placeholder="Name" required /></td></tr>
        <tr><td>Adress:</td><td><input type="text" name="Adress" placeholder="ulicabroj/grad/postanski broj" required /></td></tr>
        <tr><td>OpeningDate:</td><td><input type="number" name="OpeningDate" placeholder="OpeningDate" required /></td></tr>
        <tr><td>MonthlySubscription:</td><td><input type="number" name="MonthlySubscription" placeholder="Mesecna" required /></td></tr>
        <tr><td>YearlySubscription:</td><td><input type="number" name="YearlySubscription" placeholder="Godisnja" required /></td></tr>
        <tr><td>PriceOfOneTraining:</td><td><input type="number" name="PriceOfOneTraining" placeholder="JedanTrening" required /></td></tr>
        <tr><td>GroupTrainingPrice:</td><td><input type="number" name="GroupTrainingPrice" placeholder="GrupniTrening" required /></td></tr>
        <tr><td>PersonalTrainerPrice:</td><td><input type="number" name="PersonalTrainerPrice" placeholder="PersonalniTrener" required /></td></tr>
        <tr>
            <td>
                <input type="hidden" name="Username" value="@ViewBag.user_name">
                <input type="submit" name="Option" id="Kreiraj" value="Kreiraj">
            </td>
        </tr>
    </table>
</form>
<br />
<br />

<h2>Lista mojih fitnes centara</h2>

@if (ViewBag.FitnessCenters.Count == 0)
{
    <p>@ViewBag.user_name nije vlasnik nijednog fitnes centra</p>
}
else
{
    foreach (var fitnessCenter in ViewBag.FitnessCenters)
    {
        <form action="/Vlasnik/FitnesCentriVlasnik" method="post">
            <table border="1">
                <tr><td>Name:</td><td>@fitnessCenter.Name</td></tr>
                <tr><td>Adress:</td><td><input type="text" name="Adress"value="@fitnessCenter.Adress" required /></td></tr>
                <tr><td>OpeningDate:</td><td><input type="number" name="OpeningDate"value="@fitnessCenter.OpeningDate" required /></td></tr>
                <tr><td>MonthlySubscription:</td><td><input type="number" name="MonthlySubscription"value="@fitnessCenter.MonthlySubscription" required /></td></tr>
                <tr><td>YearlySubscription:</td><td><input type="number" name="YearlySubscription"value="@fitnessCenter.YearlySubscription" required /></td></tr>
                <tr><td>PriceOfOneTraining:</td><td><input type="number" name="PriceOfOneTraining"value="@fitnessCenter.PriceOfOneTraining" required /></td></tr>
                <tr><td>GroupTrainingPrice:</td><td><input type="number" name="GroupTrainingPrice"value="@fitnessCenter.GroupTrainingPrice" required /></td></tr>
                <tr><td>PersonalTrainerPrice:</td><td><input type="number" name="PersonalTrainerPrice"value="@fitnessCenter.PersonalTrainerPrice" required /></td></tr>
            </table>
            <table>
                <tr>
                    <td>
                        <input type="submit" name="Option" value="Obrisi" />
                        <input type="submit" name="Option" value="Izmeni" />
                        <input type="hidden" name="Name" value="@fitnessCenter.Name" />
                        <input type="hidden" name="AdminUsername" value="@fitnessCenter.AdminUsername" />
                        <input type="hidden" name="Username" value="@ViewBag.user_name" />
                    </td>
                </tr>
            </table>
        </form>
        <br />


    }
}