
@{
    ViewBag.Title = "FitnesCentriVlasnik";
}


<head>
    <link rel="stylesheet" href="~/Scripts/lookCss.css">
</head>

<body>
    <style>
        .form-control {
            width: 100%;
        }

        tr {
            text-align: center;
            vertical-align: middle;
        }

        .description{
            height: 50px;
            width: 50%;
            text-align: center !important;
            vertical-align: middle;
            margin-left: auto;
        }

        .content-value {
            height: 50px;
            width: 50%;
            text-align: center !important;
            vertical-align: middle;
            margin-left: auto;
        }

    </style>

    <div class="container">
        <form action="/Login/AdminLogin" method="post">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input class="form-control" type="hidden" name="Username" value="@ViewBag.user_name" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input class="form-control" type="submit" value="Nazad" />
                </div>
            </div>
        </form>
    </div>
    <h2>FitnesCentriVlasnik</h2>
    <form action="/Vlasnik/FitnesCentriVlasnik" method="post">
        <table class="table table-bordered" border="1">
            <tr><td class="description">Naziv:</td><td class="content-value"><input  type="text" name="Naziv" placeholder="Naziv" required /></td></tr>
            <tr><td class="description">Adresa:</td><td class="content-value"><input type="text" name="Adresa" placeholder="ulicabroj/grad/postanski broj" required /></td></tr>
            <tr><td class="description">DatumOtvaranja:</td><td class="content-value"><input  type="number" name="DatumOtvaranja" placeholder="DatumOtvaranja" required /></td></tr>
            <tr><td class="description">MonthlySubscription:</td><td class="content-value"><input  type="number" name="MonthlySubscription" placeholder="Mesecna" required /></td></tr>
            <tr><td class="description">YearlySubscription:</td><td class="content-value"><input  type="number" name="YearlySubscription" placeholder="Godisnja" required /></td></tr>
            <tr><td class="description">PriceOfOneTraining:</td><td class="content-value"><input  type="number" name="PriceOfOneTraining" placeholder="JedanTrening" required /></td></tr>
            <tr><td class="description">GroupTrainingPrice:</td><td class="content-value"><input  type="number" name="GroupTrainingPrice" placeholder="GrupniTrening" required /></td></tr>
            <tr><td class="description">PersonalTrainerPrice:</td><td class="content-value"><input  type="number" name="PersonalTrainerPrice" placeholder="PersonalniTrener" required /></td></tr>
            <tr>
                <td colspan="2">
                    <input type="hidden" name="Username" value="@ViewBag.user_name">
                    <input type="submit" class="btn-success" name="Option" id="Kreiraj" value="Kreiraj">
                </td>
            </tr>
        </table>
    </form>
    <br />
    <br />
    <h2>Lista mojih fitnes centara</h2>
    @if (ViewBag.FitnessCenters.Count == 0)
    {
        <p>@ViewBag.user_name nije vlasnik nijednog fitnes centra</p>
    }
    else
    {
        foreach (var fitnessCenter in ViewBag.FitnessCenters)
        {
            <form action="/Vlasnik/FitnesCentriVlasnik" method="post">
                <table class="table table-bordered" border="1">
                    <tr><td class="description">Naziv:</td><td>@fitnessCenter.Naziv</td></tr>
                    <tr><td class="description">Adresa:</td><td class="description"><input type="text" name="Adresa" value="@fitnessCenter.Adresa" required /></td></tr>
                    <tr><td class="description">DatumOtvaranja:</td><td class="description"><input type="number" name="DatumOtvaranja" value="@fitnessCenter.DatumOtvaranja" required /></td></tr>
                    <tr><td class="description">MonthlySubscription:</td><td class="description"><input type="number" name="MonthlySubscription" value="@fitnessCenter.MonthlySubscription" required /></td></tr>
                    <tr><td class="description">YearlySubscription:</td><td class="description"><input type="number" name="YearlySubscription" value="@fitnessCenter.YearlySubscription" required /></td></tr>
                    <tr><td class="description">PriceOfOneTraining:</td><td class="description"><input type="number" name="PriceOfOneTraining" value="@fitnessCenter.PriceOfOneTraining" required /></td></tr>
                    <tr><td class="description">GroupTrainingPrice:</td><td class="description"><input type="number" name="GroupTrainingPrice" value="@fitnessCenter.GroupTrainingPrice" required /></td></tr>
                    <tr><td class="description">PersonalTrainerPrice:</td><td class="description"><input type="number" name="PersonalTrainerPrice" value="@fitnessCenter.PersonalTrainerPrice" required /></td></tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" class="btn-danger" name="Option" value="Obrisi" />
                            <input type="submit" class="btn-warning" name="Option" value="Izmeni" />
                            <input type="hidden" name="Naziv" value="@fitnessCenter.Naziv" />
                            <input type="hidden" name="AdminUsername" value="@fitnessCenter.AdminUsername" />
                            <input type="hidden" name="Username" value="@ViewBag.user_name" />
                        </td>
                    </tr>
                </table>
            </form>
            <br />


        }
    }
</body>

