
@{
    ViewBag.Title = "ProfilVlasnika";
}
<head>
    <link rel="stylesheet" href="~/Scripts/lookCss.css">
</head>
<h2>Profil Vlasnika</h2>

<p>Pregled x izmena mojih podataka</p>
<form action="/Vlasnik/ProfilVlasnika" method="post">
    <table border="1">
        <tr>
            <th>
                Username:
            </th>
            <th>
                Password:
            </th>
            <th>
                Naziv:
            </th>
            <th>
                Surname:
            </th>
            <th>
                Gender:
            </th>
            <th>
                Email:
            </th>
            <th>
                Date Of Birth:
            </th>
            <th>
                Role:
            </th>

        <tr>
            <td>
                @ViewBag.VlasnikPodaci.Username
            </td>
            <td>
                <input type="text" name="Password" value=@ViewBag.VlasnikPodaci.Password required />
            </td>
            <td>
                <input type="text" name="Naziv" value=@ViewBag.VlasnikPodaci.Naziv required />
            </td>
            <td>
                <input type="text" name="Surname" value=@ViewBag.VlasnikPodaci.Surname required />
            </td>
            <td>
                <input type="text" name="Gender" value=@ViewBag.VlasnikPodaci.Gender required />
            </td>
            <td>
                <input type="text" name="Email" value=@ViewBag.VlasnikPodaci.Email required />
            </td>
            <td>
                <input type="date" name="DateOfBirth" value="@ViewBag.VlasnikPodaci.DateOfBirth" min="1990-03-01" max="2007-05-01" required />
            </td>
            <td>
                @ViewBag.VlasnikPodaci.Role
            </td>
        </tr>

    </table>


    <input type="hidden" value=@ViewBag.user_name name="Username" />
    <input type="submit" value="Sacuvaj" name="Sacuvaj" />
</form>
@if (ViewBag.FitnessCentersOfAdmin != null)
{
    foreach (var fitnessCenter in ViewBag.FitnessCentersOfAdmin)
    {
        <label>@fitnessCenter</label><br/>
    }
}
else
{
    <p>Ne posedujem nijedan fitnes centar</p>
}
<form action="/Login/AdminLogin" method="post">
    <input type="hidden" name="Username" value="@ViewBag.VlasnikPodaci.Username" />
    <input type="submit" value="Nazad" />
</form>