
@{
    ViewBag.Title = "ProfilTrenera";
}
<head>
    <link rel="stylesheet" href="~/Scripts/lookCss.css">
</head>
<h2>Profil Trenera</h2>

<p>Pregled i izmena mojih podataka</p>
<form action="/Trainer/ProfilTrenera" method="post">
    <table border="1">
        <tr>
            <th>
                Username:
            </th>
            <th>
                Password:
            </th>
            <th>
                Naziv:
            </th>
            <th>
                Surname:
            </th>
            <th>
                Gender:
            </th>
            <th>
                Email:
            </th>
            <th>
                Date Of Birth:
            </th>
            <th>
                Role:
            </th>
            <th>
                Fitness Center:
            </th>
        <tr>
            <td>
                @ViewBag.TrenerPodaci.Username
            </td>
            <td>
                <input type="text" name="Password" value=@ViewBag.TrenerPodaci.Password required />
            </td>
            <td>
                <input type="text" name="Naziv" value=@ViewBag.TrenerPodaci.Naziv required />
            </td>
            <td>
                <input type="text" name="Surname" value=@ViewBag.TrenerPodaci.Surname required />
            </td>
            <td>
                <input type="text" name="Gender" value=@ViewBag.TrenerPodaci.Gender required />
            </td>
            <td>
                <input type="text" name="Email" value=@ViewBag.TrenerPodaci.Email required />
            </td>
            <td>
                <input type="date" name="DateOfBirth" value="@ViewBag.TrenerPodaci.DateOfBirth" min="1990-03-01" max="2007-05-01" required />
            </td>
            <td>
                @ViewBag.TrenerPodaci.Role
            </td>
            <td>
                @if(ViewBag.FitnessCenter != null)
            {
                @ViewBag.FitnessCenter
            }
            </td>
        </tr>

    </table>
    <br/>
    <input type="hidden" value=@ViewBag.user_name name="Username" />
    <input type="submit" value="Sacuvaj" name="Sacuvaj"/>
</form>
<form action="/Login/TrainerLogin" method="post">
    <input type="hidden" name="Username" value="@ViewBag.TrenerPodaci.Username" />
    <input type="submit" value="Nazad" />
</form>