
@{
    ViewBag.Title = "UserLogin";
}
<head>
    <link rel="stylesheet" href="~/Scripts/lookCss.css">
</head>
<h2>Pocetna Posetioc</h2>

<form action="/Visitor/ProfilPosetioca" method="post">
    <input type="hidden" value="@ViewBag.user_name" name="Username" />
    <input type="submit" value="Pregled podataka" />
</form>
<form action="/Visitor/GrupniTreninziPosetilac" method="post">
    <input type="hidden" value="@ViewBag.user_name" name="Username" />
    <input type="submit" value="Odradjeni treninzi" />
</form>

<form method="post" action="/Login/UserLogin">
    <div>Sortiranje:</div>
    <input type="radio" name="typeOfSorting" value="Rastuće" />RASTUCE <br/>
    <input type="radio" name="typeOfSorting" value="Opadajuće" />OPADAJUCE <br/>

    <select name="sortBy" required>
        <option value="Naziv"> Naziv</option>
        <option value="Adresa"> Adresa</option>
        <option value="DatumOtvaranja">Datum otvaranja</option>
    </select>
    <br />
    <input type="hidden" value="@ViewBag.user_name" name="Username" />
    <input type="submit" name="Option" value="Sort" />

    
    <div>Naziv:</div><input type="text" name="Naziv" value="" placeholder="Naziv" /><br />
    <div>Adresa:</div><input type="text" name="Adresa" value="" placeholder="ulica broj,grad,postanski broj" /><br />
    <div>Datum otvaranja:</div><input type="text" name="DonjaGranica" placeholder="DonjaGranica"/><input type="text" name="GornjaGranica" placeholder="GornjaGranica"/><br />
    <br />
    <input type="submit" name="Option" value="Find" />
   
</form>
@if (ViewBag.FitnessCenters == null || ViewBag.FitnessCenters.Count == 0)
{
    <p>Ne postoji nijedan fitnes centar</p>
}
else
{
    <p>Fitnes Centri</p>
    <table border="1">
        <tr><th>Naziv</th><th>Adresa</th><th>DatumOtvaranja</th></tr>
        @foreach (var fitnessCenter in ViewBag.FitnessCenters)
        {
            <tr>
                <td>@fitnessCenter.Naziv</td>
                <td>@fitnessCenter.Adresa</td>
                <td>@fitnessCenter.DatumOtvaranja</td>
                <td>
                    <form action="/Visitor/DetaljanPrikazPosetilac" method="post">
                        <input type="submit" name="Detalji" value="Detalji">
                        <input type="hidden" name="Naziv" value="@fitnessCenter.Naziv" />
                        <input type="hidden" name="Username" value="@ViewBag.user_name" />
                    </form>
                </td>
            </tr>
        }
    </table>
}
