
@{
    ViewBag.Title = "GrupniTreninziPosetilac";
}
<head>
    <link rel="stylesheet" href="~/Scripts/lookCss.css">
</head>
<h2>OdradjeniTreninziPosetilac</h2>

<form action="/Login/UserLogin" method="post">
    <input type="hidden" name="Username" value="@ViewBag.user_name" />
    <input type="submit" name="Nazad" value="Nazad" />
</form>

<form method="post" action="/Visitor/GrupniTreninziPosetilac">
    <div>Sort:</div>
    <input type="radio" name="typeOfSorting" value="ASCENDING" />ASCENDING
    <input type="radio" name="typeOfSorting" value="DESCENDING" />DESCENDING

    <select name="sortBy" required>
        <option value="Name"> NAZIV</option>
        <option value="TypeOfTraining"> TIP TRENINGA</option>
        <option value="DateOfMaintenance">DATUM ODRZAVANJA</option>
    </select>
    <br />
    <input type="hidden" value="@ViewBag.user_name" name="Username" />
    <input type="submit" name="Option" value="Sort" />


    <div>Name:</div><input type="text" name="Name" value="" /><br />
    <div>TypeOfTraining:</div><select name="TypeOfTraining">
                                <option value=""></option>
                                <option value="YOGA">YOGA</option>
                                <option value="BODYPUMP">BODYPUMP</option>
                                <option value="LESMILLSTONE">LESMILLSTONE</option>
                            </select><br />
    <div>Date Odrzavanja(yyyy/mm/dd HH:mm):</div><input type="text" name="LowerLimit" placeholder="LowerLimit" /><input type="text" name="UpperLimit" placeholder="UpperLimit" /><br />
    <br />
    <input type="submit" name="Option" value="Find" />

</form>

@if (ViewBag.GroupTrainings.Count > 0)
{
    int x = 0;
    foreach (var t in ViewBag.GroupTrainings)
    {
        DateTime dt;
        DateTime.TryParse(t.TrainingDate, out dt);
        if (dt < DateTime.Now)
        {
            <table border="1">
                <tr><td>Name:</td><td>@t.Name</td></tr>
                <tr><td>TypeOfTraining:</td><td>@t.Trening</td></tr>
                <tr><td>FitnessCenter:</td><td>@t.FitnessCenterName</td></tr>
                <tr><td>TrainingDuration:</td><td>@t.TrainingDuration</td></tr>
                <tr><td>TrainingDate:</td><td>@t.TrainingDate</td></tr>
                <tr><td>MaximumNumberOfVisitors:</td><td>@t.MaximumNumberOfVisitors</td></tr>
            </table>
            <br/>
            x++;
        }

    }
    if (x == 0)
    {
        <p>@ViewBag.user_name nema nijedan odradjen training</p>
    }
}
else
{ <p>@ViewBag.user_name nema nijedan odradjen training</p>}
